/*==========
 = PC样式
 ===========*/
/*头部*/
.header{
	position:fixed;
	top:0;
	left:0;
	background:#fff;
	padding-left:15px;
	padding-right:15px;
	width:100%;
	box-shadow:0 0 5px #999;
	z-index:99;
}
.title-h1{
	padding:15px 0;
	font-size:20px;
	margin:0;
}
/*左边导航栏*/
.nav-nav{
	position:fixed;
	top:0;
	left:0;
	padding-top: 54px;
	height:100%;
	width:220px;
	background:#2d353c;
	z-index:50;
}
.nav-maninfo{
	width:100%;
	padding:20px;
	background:#1a2229;;
	color:#fff;
	margin-bottom:20px;
}
.nav-maninfo p{
	margin:0;
}
.nav-maninfo small{
	color:#889097;
}
.nav>li>a{
	padding:8px 20px;
	color:#a8acb1;
	transition:.3s;
}
.nav>li> a:hover{
	background:#232a2f;
}
.nav > li > a:focus{
	color: #fff!important;
	background: #00acac!important;
}
.active > a{
	color: #fff!important;
	background: #00acac;
}

/*主体部分*/
.main{
	position:fixed;
	top:54px;
	left:220px;
	width:calc(100% - 220px);
	height:calc(100% - 54px);
	padding:0;
	overflow:auto;
	border:0;
}