.fix-submit-div{
	position:fixed;
	top:20px;
	right:20px;
}
.hidden{
	display:none;
}
.btn{
	border:0;
	border-radius:3px;
	cursor:pointer;
	padding:5px 0;
}
.btn-primary{
	width:80px;
	background:#428bca;
	color:#fff;
}
@media print{
	.shadow-div{
		border-top:18px solid #00ffff!important;
		height:0!important;
	}
	.alert-danger{
		display:none;
	}
}
.disabled{
	opacity:.6;
}
.alert-danger{
	color:#a94442;
	background:#f8b2b2;
	padding:8px 15px;
	font-size:18px;
}
body{
	transition:.3s;
}