/************
 * 基本配置
 ************/
html{
	height:100%;
}
body{
	background:#d9e0e7;
	padding:0;
	margin:0;
	color: #707478;
	height:100%;
}
.panel{
	border-radius:3px;
	border:0;
}
.panel-heading{
	background:#242a30;
	padding:10px 15px;
	color: #fff;
}
.panel-body{
	padding:15px;
}
.navbar-log{
	float: left;
	margin-right: 10px;
	border: 10px solid transparent;
	border-color: #4DCACA #31A3A3 #1D8888;
	opacity: .9;
	border-radius: 50%;
}
.logo{
	float: left;
	margin-right: 10px;
	border: 14px solid transparent;
	border-color: #4DCACA #31A3A3 #1D8888;
	opacity: .9;
	border-radius: 50%;
}
/*表单样式*/
.form-group{
	border-bottom:1px solid #eee;
	margin-bottom:0;
}
.form-group > .control-label{
	padding: 22px 15px 15px;
}
.form-group > div{
	padding: 15px;
	border-left: 1px solid #eee;
}
/*表格样式*/
.table{
	border-color:#e2e7eb;
}
th{
	white-space: nowrap;
}
/*警告样式*/
.alert-success{
	color:#3c763d;
	background:#7cdda7;
	padding:15px;
}
.alert-danger{
	color:#a94442;
	background:#f8b2b2;
	padding:15px;
}
.alert-info{
	color: #31708f;
	background: #93cfe5;
	padding:15px;
}
.alert-warning{
	color: #8a6d3b;
	background: #ffead0;
	padding:15px;
}
/*按钮样式*/
.btn-success{
	background:#00acac;
	color: #fff;
	border:0;
}
.btn-success:hover{
	background: #008a8a;
	color: #fff;
	border:0;
}
.btn-primary{
	background:#348fe2;
	border-color: #348fe2;
}
.btn-primary:hover{
	background:#2a72b5;
	border-color: #2a72b5;
}
/*输入框错误提示*/
.has-error{
	border-color: #ff5b57;
}
.back-error{
	background: #ff5b57;
}
/*分页样式*/
.page-btn{
	background:#fff;
	color:#707478;
	text-decoration:none;
	cursor:pointer;
	display:block;
	float:left;
	margin-right:10px;
	width:40px;
	height:40px;
	border-radius:50%;
	line-height:40px;
	text-align:center;
	border:1px solid #707478;
	transition:.3s;
}
.page-btn:hover{
	background:#ddd;
	text-decoration:none;
}
.now{
	background:#707478;
	color:#fff;
}
.page-prext-btn{
	background:#fff;
	color:#707478;
	text-decoration:none;
	cursor:pointer;
	display:block;
	float:left;
	margin-right:10px;
	height:40px;
	border-radius:5px;
	line-height:40px;
	text-align:center;
	border:1px solid #707478;
	padding:0 10px;
}
/*页面加载样式*/
#page_loader{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #E6E8EC;
	z-index:5;
}
.fa-mid{
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -20px -20px 0 0;
}
/*==========
 = 工具样式
 ===========*/
.mar-r10{
	margin-right:10px;
}
.mar-t5{
	margin-top:5px;
}
.mar-l5{
	margin-left:5px;
}
.mar-b20{
	margin-bottom:20px;
}
.wh100p{
	width:100%;
	height:100%;
	border:0;
}
.pad-t54{
	padding-top:54px;
}