/************
* 工具样式
*************/
.text-center{
	text-align:center;
}
.clearfix:after{
	content:"";
	display:block;
	height:0;
	clear:both;
}
.hidden{
	display:none;
}
.mar-r5{
	margin-right:.5rem;
}
/************
 * 基本配置
 ************/
html{
	font-size:62.5%;
	font-family: "微软雅黑";
	background:rgb(246,242,241);
	/*#f7f7f7*/
}
/*===========
 * PC样式
 ===========*/
.body-div{
	width:96rem;
	margin:0 auto;
	padding:1.45rem;
	background:#fff;
	box-sizing: border-box;
}
/*头部开始*/
.logo-img{
	width:200px;
	display:block;
	margin:0 auto;
}
.header{
	color:rgb(89,98,115);
	/*#333*/
	background:url(../img/bg52222.png);
	background-size:100%;
	padding-bottom:13rem;
	margin-bottom:1.45rem;
	font-family: "宋体";
}
.header h1{
	font-size:3.2rem;
	font-weight:200;
	letter-spacing:0.7rem;
	padding-top: 12rem;
	margin-top:0;
	margin-bottom:3rem;
	margin-left:45%;
}
.header p{
	width:49rem;
	font-size:1.8rem;
	box-sizing:border-box;
	margin:0 auto;
	padding:2.9rem 1.1rem;
	text-align:left;
	letter-spacing:0.2rem;
	/*background:rgba(233,236,238,.9);*/ 	/*灰*/
	/*background:rgba(255,255,255,.5);*/	/*白*/
	margin-left:45%;
}
/*头部结束*/
/*身体开始*/
.main-div{
	padding-top:5rem;
	background:rgb(246,242,241);
	/*#f7f7f7*/
	color:rgb(89,98,115);
}
.question-div{
	padding:0 8.7rem 9.4rem;
}
.title-num-span{
	color:rgb(236,133,88)!important;
	position:absolute;
	top:0;
	left:0;
	width:3.6rem;
	height:3.6rem;
	line-height:3.6rem;
	font-size:1.75rem;
	text-align:center;
	border-radius:50%;
	background:#fff;
}
.answer-div{
	position:relative;
	padding-left:5.8rem;
}
.title-p{
	font-size:1.88rem;
	padding-top:0.5rem;
	margin-bottom:4.3rem;
	font-weight:800;
}
.w48p-form{
	width:calc((98% - 3.6rem) / 2);
	color:rgb(246,242,241);
	margin:0 1%;
	padding:0 1.1rem;
	/*border:2px solid rgb(236,133,88);*/
	border-radius:.3rem;
	height:3.6rem;
	font-size:1.7rem;
	line-height:3.6rem;
	background:rgb(114,188,197);	/*#fff*/
	float:left;
	box-sizing: border-box;
	margin-bottom:1.1rem;
	/*transition:.3s;*/
	cursor:pointer;
	-moz-user-select:none;/*火狐*/
	-webkit-user-select:none;/*webkit浏览器*/
	-ms-user-select:none;/*IE10*/
	-khtml-user-select:none;/*早期浏览器*/
	user-select:none;
	-webkit-appearance: none;	/*清除ios内部阴影*/
}
.w48p-form-input{
	width:calc((98% - 3.6rem) / 2);
	margin:0 1%;
	padding:0 1.1rem;
	-webkit-appearance: none;	/*清除ios内部阴影*/
	border:2px solid rgb(114,188,197);
	border-radius:.3rem;
	height:3.6rem;
	font-size:1.45rem;
	line-height:3.6rem;
	background:#fff;
	float:left;
	box-sizing: border-box;
	margin-bottom:1.1rem;
	transition:.3s;
}
.form-active{
	/*background:#ffe330!important; 黄色*/
	/*rgb(0,155,219)!important*/
	background:rgb(236,133,88)!important;
	color:rgb(246,242,241);
}
.w48p-form:hover{
	box-shadow: 0 0 10px #ccc;
}
.input-radio{
	margin-right:1.45rem;
	display:none;
}
.btn-submit{
	/*background:#ffe330!important;黄色*/
	/*background:rgb(0,155,219)!important;*/
	border:0;
	color:#fff;
}
/*身体结束*/

/*===========
 * 手机样式
 ===========*/
@media only screen and (max-width: 960px){
	.body-div{
		width:100%;
		padding:0;
	}
	/*手机头部开始*/
	.header p{
		width:100%;
		box-sizing: border-box;
		font-size: 1.45rem;
		margin-left:0;
		padding:1rem 10%;
		letter-spacing:0.1rem;
	}
	.header h1{
		padding:5rem 10% 0rem;
		margin-bottom:.5rem;
		/*text-shadow:0 0 .5rem #fff;*/
		margin-left:0;
		text-align:left;
		font-weight:800;
		letter-spacing:0.2rem;
	}
	.header{
		padding-bottom:0rem;
		margin-bottom:0;
		background:rgb(89,98,115);
		color:rgb(232,232,232);
	}
	/*手机头部结束*/
	/*手机身体开始*/
	.question-div{
		width:100%;
		padding-left:0;
		padding-right:0;
	}
	.w48p-form{
		width:80%;
		height:5rem;
		line-height:5rem;
		margin:0 10% 0.5rem;
	}
	.answer-div{
		padding-left:0;
	}
	.title-p{
		padding-left:4.8rem;
		margin-left:10%;
		margin-right:10%;
	}
	.w48p-form-input{
		width:80%;
		height:5rem;
		line-height:5rem;
		margin:0 10% 0.5rem;
	}
	.title-num-span{
		left:10%;
	}
	/*手机身体结束*/
}